body{
  background: #22252A !important;
}

#main-title{
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 3px #0fa,
    0 0 3px #0fa,
    0 0 3px #0fa,
    0 0 3px #0fa,
    0 0 3px #0fa;
}